<br>
<br>
<br>
<br>

<div class="container">
  <ol class="breadcrumb">
    <li class="active">All Registered Phone Numbers</li>
  </ol>
  <h3 class="text-center">All Registered Phone Numbers</h3>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
        </li>
      </ul>
    </div>
  </div> <!-- /row -->
  <br>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Phone Number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% cache(controller: 'dashboard', action: 'index',
               action_suffix: 'number_all') do %>
          <% @numbers.each do |number| %>
              <tr>
                <td>
                  <%= number.id %>
                </td>
                <td><%= number.phone_number %></td>
                <td><%= link_to "Delete", number_path(number), method: :delete %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

  </div>

  <hr class="featurette-divider"><br>
  <ol class="breadcrumb">
    <li class="active">All Registered Locations</li>
  </ol>

  <h3 class="text-center">All Registered Locations</h3>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% cache(controller: 'dashboard', action: 'index',
               action_suffix: 'location_all') do %>
          <% @locations.each do |location| %>
              <tr>
                <td><%= location.id %></td>
                <td><%= location.name %></td>
                <td><%= location.address %></td>
                <td><%= link_to "Edit", edit_location_path(location) %></td>
                <td><%= link_to "Delete", location_path(location), method: :delete %></td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>
<br>
<div style="text-align: center">
  <a href="<%= new_location_path %>" class="btn btn-primary btn-lg btn-danger">Add a Location</a>
</div>
<br>
<br>

<div style="text-align: center">
  <%= link_to "Monday Test Button", notifications_monday_path, method: :post, class: "btn btn-primary btn-lg" %>
  <%= link_to "Tuesday Test Button", notifications_tuesday_path, method: :post, class: "btn btn-primary btn-lg" %>
  <%= link_to "Wednesday Test Button", notifications_wednesday_path, method: :post, class: "btn btn-primary btn-lg" %>
  <%= link_to "Thursday Test Button", notifications_thursday_path, method: :post, class: "btn btn-primary btn-lg" %>
  <%= link_to "Friday Test Button", notifications_friday_path, method: :post, class: "btn btn-primary btn-lg" %>
  <%= link_to "Saturday Test Button", notifications_saturday_path, method: :post, class: "btn btn-primary btn-lg" %><br><br>
  <%= link_to "Sunday Test Button", notifications_sunday_path, method: :post, class: "btn btn-primary btn-lg" %>
</div><br><br>