

<article><br><br><br><br>

  <h1 id="title">Locations</h1>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <%= gmaps4rails(@json) %>

  <div>
      <% @locations.each do |location| %>
          Name: <%= location.name %><br>
          Address: <%= location.address %><br>
          Email: <%= location.email %><br>
          Phone Number: <%= location.phone_number%><br>
          Latitude: <%= location.latitude %><br>
          Longitude: <%= location.longitude %><br><br>
    <% end %>
  </div>



</article>
