

<article><br><br><br><br>
  <body>
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row">
      <div class="col-md-8">
        <%= gmaps4rails(@json) %>
      </div>

      <!-- /.col-md-8 -->
      <div class="col-md-4">
        <h1>Map of Locations</h1>
        <p>On this page you will find a map of all the locations offering meal assistance in Denver to those in need.
          The list is divided between those locations that offer food-lines, and those that are food banks. <br><br><br>
          Do you know of a location offering free meals that isn't listed? Please click the button below.
        </p>
        <a class="btn btn-primary btn-lg" href="<%= new_location_path %>">Register a New Location</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
      <div class="col-lg-12">
        <div class="well text-center">
          These locations all offer food-line services. Click on the more info button for details.
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <% @locations.each do |location| %>
          <div class="col-md-4">
            <h2><%= location.name %></h2>
            <p><%= location.address %></p>
            <a class="btn btn-default" href="<%= location_path(location) %>">More Info</a>
          </div>
      <% end %>
    </div>

  </div>
  <!-- /.container -->

  <!-- jQuery -->
  <script src="js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  </body>



</article>
