<br>
<div class="well col-sm-6 col-sm-offset-3">
  <%= form_for @number, url: numbers_path do |f| %>
      <div class="form-group">
        <%= f.label :phone_number, "Phone Number" %>
        <%= f.telephone_field :phone_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email, "Email(optional)" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <%= f.submit "Register", class: "btn btn-success" %>
  <% end %>
  <br><br>
  MealFinder will not share this information with any third parties.
</div>

